.header{
  display: flex;
  justify-content: right; /* 가로 정렬 */
  align-items: center;     /* 세로 정렬 */
}
.header>a, i{
  text-decoration: none;
  padding : 10px;
  color : black;
  
}
.main{
  text-align : center;
  margin-bottom : 300px;
}
.footer{
  text-align: center;
}
.footer > a, .footer > span > a {
  text-decoration: none;
  padding: 5px;
  color: black;

}
a:hover, .footer > span > a:hover {
  color: blue;
}
img {
  width : 220px;
  display: block;
  margin: 0 auto;
}
.gmail{
  text-align: center;
  color :blueviolet;
  font-size: 40px;
  font-weight: bolder;
  margin : 20px;
  
}
.images{
  text-align: center;
  color :rgb(226, 43, 134);
  font-size: 40px;
  font-weight: bolder;
  margin : 20px;


}