.header-container::after {
  content: "";
  display: block;
  clear: both;
}


.header{
 float : right;
 margin : 20px;
}
.header-item{
  text-decoration: none;
  margin-right : 15px;
  color : black;
  
}
.header-item:hover{
  text-decoration: underline;
}
.main{
  margin-top : 300px;
  text-align: center;
}
.input-area{
  margin-top: 20px;
}
.input-box{
  width : 449px;
  height : 44px;
  border-radius: calc(0.5* 48px); 
  border : 1px solid #dfe1e5;
  padding-left:50px;
  padding-right : 50px;
}
.search-icon{
  position : relative;
  left : 40px;
  color : #9aa0a6;
}
.mic-icon{
  position : relative;
  right : 40px;
  color : #9aa0a6;

}
.button-area{
  padding-top : 18px;
}
.button-style{
  height : 38px;
  background-color: #f0f0f0;
  border : 1px solid #f0f0f0;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  padding : 0 16px;
  margin : 11px 4px;
}
.button-style:hover{
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f0f0f0;
  border : 1px solid #dadce0;
  color : #202124;
}
.footer{
}
.footer > a, .footer > span > a {

}
img {
  width : 220px;
}

/* 라우팅 된 페이지 */
.gmail{
  text-align: center;
  color :blueviolet;
  font-size: 40px;
  font-weight: bolder;
  margin : 20px;
  
}
.images{
  text-align: center;
  color :rgb(226, 43, 134);
  font-size: 40px;
  font-weight: bolder;
  margin : 20px;


}